@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background: #a9b9c6;
    color: #33332e;
    -webkit-font-smoothing: antialiased;
  }
  * {
    box-sizing: border-box;
  }
}
